@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles*/
html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

/* #top {
  background-image: url("/images/pattern-bg.png");
} */
#location-bar {
  z-index: 99999;
}
@media screen and (max-width: 500px) {
  #search-bar {
    width: 90%;
  }
}
/* @media screen and (max-width: 640px) {
} */
